<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/adopt.css">
</head>
<body>
    <h1> <center>Adopt a Cat</center></h1>
    <h2><center><%= text %></center></h2>

    <center><img src="img/Cat Group Photo.jpg" alt="Image Not Found"></center>


    <h3></h3>


    <table>
        
        <ul> <a href="http://localhost:3000/api/v1/adopt">View all Cat Profiles Here</a> </ul>
        <ul> <a href="/new">Add a New Cat Profile Here</a> </ul> 
        <ul> <a href="/search">View a Specific Cat Profile Here</a> </ul>  
        <ul> <a href="/">Update a Cat Profile Here</a> </ul> 
        <ul> <a href="http://localhost:3000/api/v1/adopt/:catName">Delete a Cat Profile Here</a> </ul> 
        
    </table>
    
</body>
</html>