<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View a Specific Cat</title>
</head>
<body>
    <form action="/api/v1/adopt/catName" method="GET">
        <h6>cat Name</h6>
            <input type="text" catName="catName" value="<%= locals.catName %>" />
        <input type="hidden" catName="catNAme" value="<%= locals.catName %>">
        <br>
        <button type="submit">Submit</button>
    </form>    
</body>
</html>